[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "my-zsh/plugins/zsh-syntax-highlighting"]
	path = my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z
[submodule "bin/urxvt-tabbed"]
	path = bin/urxvt-tabbed
	url = https://github.com/mina86/urxvt-tabbedex
[submodule "my-zsh/plugins/fzf-zsh"]
	path = my-zsh/plugins/fzf-zsh
	url = git@github.com:Treri/fzf-zsh.git
[submodule "my-zsh/plugins/fzf"]
	path = my-zsh/plugins/fzf
	url = git@github.com:junegunn/fzf.git
